In [1]:
#!pip install xverse

In [2]:
#!pip install catboost

In [3]:
# for "2. Data Loading"
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
# for "3-1. Feature Generation"
import numpy as np

# for "3-2. Feature Engineering"
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import RobustScaler, StandardScaler

# # for 4
# from xgboost import XGBClassifier

# for "5. Modeling with CatBoostRegressor"
import optuna
from optuna import Trial
from optuna.samplers import TPESampler
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split, StratifiedKFold

In [ ]:
def seed_everything(seed: int = 42):
    random.seed(seed)
    np.random.seed(seed)

In [4]:
import optuna
from optuna import Trial, visualization
import time
import joblib
from optuna.samplers import TPESampler

In [5]:
import random
import os

def seed_everything(seed: int = 42):
    random.seed(seed)
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    # torch.manual_seed(seed)
    # torch.cuda.manual_seed(seed)  # type: ignore
    # torch.backends.cudnn.deterministic = True  # type: ignore
    # torch.backends.cudnn.benchmark = True  # type: ignore

seed_everything()

# Data Load

In [6]:
data = pd.read_csv('FDS_MART(20210804).csv',encoding='cp949')
data

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning:

Columns (623) have mixed types.Specify dtype option on import or set low_memory=False.

,ACDNT_NO,POLICY_NO,FRST_RCV_DT,ACDNT_GAP,ACDNT_7DAY_YN,NIGHT_ACDNT_YN,DAYWEEK_CD,MNG_AREA_TYPE_CD,MNG_AREA_CD,ACDNT_CLAS_CD1,...,FDS_CATH,CEMP_CATH,SIU_CATH,SIU_CEMP_CATH,CATH_AMT,INSR_MODEL,CONT_MODEL,INJ_MODEL,INJ_POS_MODEL,ALT_GUBUN
0,1800000003,A17121107765,20180101,76.90000,N,N,1,G3,5310,30,...,N,N,N,N,0,10.00000,4.00000,nan,nan,일반건
1,1800000004,A17040344397,20180101,7.76700,N,Y,2,G3,44990,20,...,N,N,N,N,0,10.00000,2.00000,nan,nan,고위험
2,1800000013,A17121028936,20180101,147.85000,N,Y,2,G3,37124,20,...,N,N,N,N,0,1.00000,1.00000,nan,nan,고위험
3,1800000020,A17020116294,20180101,5.73300,N,N,2,G3,54084,20,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건
4,1800000024,A17080728803,20180101,12.83300,N,N,2,G3,28209,20,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,2100033918,A21010017808,20210228,99.70000,N,N,1,G3,13245,20,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건
136545,2100033936,A20090799754,20210228,53.28300,N,N,1,G3,37829,10,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건
136546,2100033938,A21010032320,20210228,12.01700,N,N,1,G3,26153,10,...,N,N,N,N,0,4.00000,8.00000,nan,nan,일반건
136547,2100033946,A20040344584,20210228,95.46700,N,N,1,G3,1143,20,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건
136548,2100033947,A20060513971,20210228,12.05000,N,N,1,G3,18422,20,...,N,N,N,N,0,10.00000,10.00000,nan,nan,일반건

In [7]:
def reduce_mem_usage(df):
    """ 
    iterate through all the columns of a dataframe and 
    modify the data type to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print(f'Memory usage of dataframe is {start_mem:.2f}MB')
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max <\
                  np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max <\
                   np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max <\
                   np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max <\
                   np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            elif str(col_type)[:5] == 'float':
                if c_min > np.finfo(np.float16).min and c_max <\
                   np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max <\
                   np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
            else:
                pass
        else:
            df[col] = df[col].astype('category')
    end_mem = df.memory_usage().sum() / 1024**2
    print(f'Memory usage after optimization is: {end_mem:.2f}MB')
    print(f'Decreased by {100*((start_mem - end_mem)/start_mem):.1f}%')
    
    return df

## Data Mem Reduce - 1minute

In [8]:
%%time
data = reduce_mem_usage(data)

Memory usage of dataframe is 666.74MB
Memory usage after optimization is: 152.53MB
Decreased by 77.1%
CPU times: user 51.9 s, sys: 40.5 s, total: 1min 32s
Wall time: 1min 38s

# 일부 피쳐 제거

In [9]:
cat_data = data.select_dtypes(include='category')
cat_data

,POLICY_NO,ACDNT_7DAY_YN,NIGHT_ACDNT_YN,MNG_AREA_TYPE_CD,ACDNT_CLAS_CD2,CAR_TYPE_NM,INSR_TYPE_NM,CM_YN,NON_FALT_CLAS_CD,INDM_EXPC_CD,...,PREDICT_MODEL,HYBRID_MODEL,HYBRID_RED,HYBRID_ORANGE,HYBRID_YELLOW,FDS_CATH,CEMP_CATH,SIU_CATH,SIU_CEMP_CATH,ALT_GUBUN
0,A17121107765,N,N,G3,G1,ME,PAP,N,G1,G1,...,N,N,N,N,N,N,N,N,N,일반건
1,A17040344397,N,Y,G3,G2,RV,PAP,N,G1,G0,...,Y,Y,N,Y,N,N,N,N,N,고위험
2,A17121028936,N,Y,G3,G2,ME,PAP,N,G1,G1,...,Y,Y,N,Y,N,N,N,N,N,고위험
3,A17020116294,N,N,G3,G1,PO,BAP,N,G1,G1,...,N,N,N,N,N,N,N,N,N,일반건
4,A17080728803,N,N,G3,G2,ME,PAP,N,G1,G1,...,N,Y,N,N,Y,N,N,N,N,일반건
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,A21010017808,N,N,G3,G2,ME,PAP,N,G4,G1,...,N,N,N,N,N,N,N,N,N,일반건
136545,A20090799754,N,N,G3,G1,ME,PAP,N,G1,G1,...,N,N,N,N,N,N,N,N,N,일반건
136546,A21010032320,N,N,G3,G1,SB,PAP,N,G1,G1,...,N,Y,N,N,Y,N,N,N,N,일반건
136547,A20040344584,N,N,G3,G2,SB,PAP,N,G1,G1,...,N,N,N,N,N,N,N,N,N,일반건
136548,A20060513971,N,N,G3,G2,ME,PAP,Y,G1,G1,...,N,N,N,N,N,N,N,N,N,일반건

In [10]:
train_cols = list(cat_data.columns)
train_cols.remove('DRIVER_LICNS_YEAR')
train_cols.remove('POLICY_NO')
print(train_cols)

['ACDNT_7DAY_YN', 'NIGHT_ACDNT_YN', 'MNG_AREA_TYPE_CD', 'ACDNT_CLAS_CD2', 'CAR_TYPE_NM', 'INSR_TYPE_NM', 'CM_YN', 'NON_FALT_CLAS_CD', 'INDM_EXPC_CD', 'OAI_FALT_RATE_G', 'DANGI_YN', 'RENEW_YN', 'SELF_CAR_CVRG_102', 'SELF_CAR_CVRG', 'AT_SPCL_CHG', 'SPCL_CHG_1MON', 'SPCL_CHG_AFGAP', 'AT_SPRATE_CHG', 'SPRATE_CHG_1MON', 'SPRATE_CHG_AFGAP', 'SPCL_AGE_CHG', 'SPCL_RAG_CHG', 'SPCL_AGE_ALL_CHG', 'SPCL_RAG_ALL_CHG', 'SPCL_AGE_CHG_1MON', 'SPCL_RAG_CHG_1MON', 'SPCL_AGE_CHG_AFGAP', 'SPCL_RAG_CHG_AFGAP', 'CAR_NON_SAM_RSN_CD', 'CURE_YN', 'CURE_N_RSN_CD', 'TRCT_REQ_YN', 'LBS_START', 'LBS_SUCCESS', 'MOBILE_CARRIER', 'OAI_PRSN_CNT', 'OCD_PRSN_CNT', 'FRAUD_DOUBT_CD', 'RENTCAR_INSRD_YN', 'DISPATCH_TOWING', 'DRUNK_A', 'MOHO_A', 'SIGNAL_A', 'CENTER_LINE', 'RAIL_ROAD', 'MUDAN_CROSS', 'CROSS_ROAD', 'INJURED', 'BODO', 'JUNBOK', 'TBA020_TEXT', 'MULTI_CRUSH', 'HIGH_WAY', 'HIGH_WAY2', 'ACC_ADDR1', 'ACC_AREA_RANK', 'NO_LICENSE', 'DRUNK_YN', 'LICNS_TYPE_CD', 'DRIVER_VOCTN_TST_GAP_G', 'LIC_1L', 'LIC_1M', 'LIC_1S', 'LIC_TRAIL', 'LIC_LEC', 'LIC_2M', 'LIC_2S', 'LIC_2MOTO', 'DRIVER_LICNS_STAT', 'LICNS_CANCEL_YN', 'DRIVER_LICNS_AREA', 'DRIVER_INFO_AGREE', 'REGI_CAR_DIFF_YN', 'H_CD', 'M_CD', 'O_CD', 'PREV_AXA_YN', 'KIDI_RV_YN', 'KIDI_LA_YN', 'KIDI_SA_YN', 'KIDI_SB_YN', 'KIDI_ME_YN', 'KIDI_0031_YN', 'KIDI_0018_YN', 'ACC_HOSP_YN', 'ILLNESS_HOSP_YN', 'CANCER_DIAG_YN', 'DENTAL_YN', 'DEFENSE_COST_YN', 'ACC_DEADISAB_YN', 'GENACC_DEATH_YN', 'TRAFFACC_DEATH_YN', 'ACDNT_RCV_TEXT', 'ACDNT_INSPCT_TEXT', 'ACDNT_TOTAL_TEXT', 'ACDNT_TOTAL_TEXT_1', 'ADK_HOUSE_TYPE', 'ADK_HOUSE_TYPE_DTL', 'INS_TYPE_CO_VAL', 'MAKER_G', 'BI1', 'BI2', 'PD1', 'OCD', 'OBI1', 'OBI2', 'PD2', 'FPC', 'OWNER_YN', 'FDS_REQ', 'CEMP_REQ', 'SIU_REQ', 'SIU_CEMP_REQ', 'RUL_CNT', 'SIU_CLAS_CD1', 'SIU_CLAS_CD_TOTAL', 'BOGUS_ACDNT_CD', 'PREDICT_MODEL', 'HYBRID_MODEL', 'HYBRID_RED', 'HYBRID_ORANGE', 'HYBRID_YELLOW', 'FDS_CATH', 'CEMP_CATH', 'SIU_CATH', 'SIU_CEMP_CATH', 'ALT_GUBUN']

## Target 변수 제거

In [11]:
target_feat = [
    'FDS_REQ',
    'CEMP_REQ',
    'SIU_REQ',
    'SIU_CEMP_REQ',
    'CUST_RANK',
    'RULE_APLY_CNT',
    'RUL_CNT',
    'SIU_CLAS_CD1',
    'SIU_CLAS_CD_TOTAL',
    'BOGUS_ACDNT_CD',
    'PREDICT_MODEL',
    'HYBRID_MODEL',
    'HYBRID_RED',
    'HYBRID_ORANGE',
    'HYBRID_YELLOW',
    'FDS_CATH',
    'CEMP_CATH',
    'SIU_CATH',
    'SIU_CEMP_CATH',
    'CATH_AMT',
    'INSR_MODEL',
    'CONT_MODEL',
    'INJ_MODEL',
    'INJ_POS_MODEL',
    'ALT_GUBUN'
]

In [12]:
for t_feat in target_feat:
    try:
        train_cols.remove(t_feat)
    except:
        print(t_feat, 'is not in train_cols')
        pass

CUST_RANK is not in train_cols
RULE_APLY_CNT is not in train_cols
CATH_AMT is not in train_cols
INSR_MODEL is not in train_cols
CONT_MODEL is not in train_cols
INJ_MODEL is not in train_cols
INJ_POS_MODEL is not in train_cols

## 타겟 값

In [13]:
data['FDS_CATH']

0         N
1         N
2         N
3         N
4         N
         ..
136544    N
136545    N
136546    N
136547    N
136548    N
Name: FDS_CATH, Length: 136549, dtype: category
Categories (2, object): ['N', 'Y']

In [14]:
dummy_c_data = pd.get_dummies(cat_data[train_cols])
dummy_c_data

,ACDNT_7DAY_YN_N,ACDNT_7DAY_YN_Y,NIGHT_ACDNT_YN_N,NIGHT_ACDNT_YN_Y,MNG_AREA_TYPE_CD_G2,MNG_AREA_TYPE_CD_G3,ACDNT_CLAS_CD2_G1,ACDNT_CLAS_CD2_G2,ACDNT_CLAS_CD2_G3,ACDNT_CLAS_CD2_G4,...,OBI1_Y,OBI2_N,OBI2_Y,PD2_N,PD2_Y,FPC_COMPULSORY,FPC_FULL,FPC_PARTIAL,OWNER_YN_G1,OWNER_YN_G2
0,1,0,1,0,0,1,1,0,0,0,...,1,1,0,0,1,0,1,0,0,1
1,1,0,0,1,0,1,0,1,0,0,...,1,1,0,0,1,0,1,0,0,1
2,1,0,0,1,0,1,0,1,0,0,...,1,1,0,0,1,0,1,0,0,1
3,1,0,1,0,0,1,1,0,0,0,...,1,1,0,0,1,0,1,0,0,1
4,1,0,1,0,0,1,0,1,0,0,...,1,1,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,1,0,1,0,0,1,0,1,0,0,...,1,1,0,0,1,0,1,0,0,1
136545,1,0,1,0,0,1,1,0,0,0,...,1,1,0,0,1,0,0,1,0,1
136546,1,0,1,0,0,1,1,0,0,0,...,1,1,0,0,1,0,0,1,0,1
136547,1,0,1,0,0,1,0,1,0,0,...,1,1,0,0,1,0,0,1,0,1
136548,1,0,1,0,0,1,0,1,0,0,...,1,1,0,0,1,0,1,0,0,1

In [77]:
pd.get_dummies(data['FDS_CATH'])['Y']

0         0
1         0
2         0
3         0
4         0
         ..
136544    0
136545    0
136546    0
136547    0
136548    0
Name: Y, Length: 136549, dtype: uint8

# WOE - 23sec

In [16]:
%%time
#변수 전처리 및 변형
#weight of evidence(WOE) and information value(IV)
from xverse.transformer import WOE

clf = WOE()
clf.fit(dummy_c_data, pd.get_dummies(data['FDS_CATH'])['Y'])

/home/users/adk8400153/.local/lib/python3.6/site-packages/pandas/core/series.py:726: RuntimeWarning:

divide by zero encountered in log

CPU times: user 27.3 s, sys: 887 ms, total: 28.1 s
Wall time: 29.2 s

WOE(mono_custom_binning={'ACC_ADDR1_BUSAN': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_CHUNGBUK': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_CHUNGNAM': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_DAEGU': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_DAEJEON': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_ETC': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_GANGWON': array([0, 1], dtype=uint8),
                         'ACC_ADDR1_GWANG...
                                1: -0.021560259344679564},
              'ACC_HOSP_YN_Y': {0: 0.005856693628320735,
                                1: -0.026923252285394127},
              'ACDNT_7DAY_YN_N': {0: 0.2577370192165316,
                                  1: -0.0059052791727083045},
              'ACDNT_7DAY_YN_Y': {0: -0.0059052791727083045,
                                  1: 0.2577370192165316},
              'ACDNT_CLAS_CD2_G1': {0: -0.14879792074748938,
                                    1: 0.22567119093757837},
              'ACDNT_CLAS_CD2_G2': {0: 0.3778214671760677,
                                    1: -0.5625241993016737}, ...})

In [17]:
pd.DataFrame(clf.woe_df.head(30)) 
#Weight of Evidence transformation dataset

,Variable_Name,Category,Count,Event,Non_Event,Event_Rate,Non_Event_Rate,Event_Distribution,Non_Event_Distribution,WOE,Information_Value
0,ACC_ADDR1_BUSAN,0,128142,3583.00000,124559.00000,0.02796,0.97204,0.93845,0.93843,0.00002,0.00000
1,ACC_ADDR1_BUSAN,1,8407,235.00000,8172.00000,0.02795,0.97205,0.06155,0.06157,-0.00029,0.00000
2,ACC_ADDR1_CHUNGBUK,0,131776,3654.00000,128122.00000,0.02773,0.97227,0.95705,0.96528,-0.00856,0.00182
3,ACC_ADDR1_CHUNGBUK,1,4773,164.00000,4609.00000,0.03436,0.96564,0.04295,0.03472,0.21270,0.00182
4,ACC_ADDR1_CHUNGNAM,0,130951,3668.00000,127283.00000,0.02801,0.97199,0.96071,0.95895,0.00183,0.00008
5,ACC_ADDR1_CHUNGNAM,1,5598,150.00000,5448.00000,0.02680,0.97320,0.03929,0.04105,-0.04377,0.00008
6,ACC_ADDR1_DAEGU,0,129388,3588.00000,125800.00000,0.02773,0.97227,0.93976,0.94778,-0.00850,0.00121
7,ACC_ADDR1_DAEGU,1,7161,230.00000,6931.00000,0.03212,0.96788,0.06024,0.05222,0.14292,0.00121
8,ACC_ADDR1_DAEJEON,0,131796,3676.00000,128120.00000,0.02789,0.97211,0.96281,0.96526,-0.00254,0.00017
9,ACC_ADDR1_DAEJEON,1,4753,142.00000,4611.00000,0.02988,0.97012,0.03719,0.03474,0.06822,0.00017
10,ACC_ADDR1_ETC,0,136519,3818.00000,132701.00000,0.02797,0.97203,1.00000,0.99977,0.00023,0.00000
11,ACC_ADDR1_ETC,1,30,0.00000,30.00000,0.00000,1.00000,0.00000,0.00023,0.00000,0.00000
12,ACC_ADDR1_GANGWON,0,132425,3668.00000,128757.00000,0.02770,0.97230,0.96071,0.97006,-0.00968,0.00263
13,ACC_ADDR1_GANGWON,1,4124,150.00000,3974.00000,0.03637,0.96363,0.03929,0.02994,0.27170,0.00263
14,ACC_ADDR1_GWANGJU,0,130895,3661.00000,127234.00000,0.02797,0.97203,0.95888,0.95859,0.00031,0.00000
15,ACC_ADDR1_GWANGJU,1,5654,157.00000,5497.00000,0.02777,0.97223,0.04112,0.04141,-0.00711,0.00000
16,ACC_ADDR1_GYEONGBUK,0,129783,3636.00000,126147.00000,0.02802,0.97198,0.95233,0.95040,0.00203,0.00008
17,ACC_ADDR1_GYEONGBUK,1,6766,182.00000,6584.00000,0.02690,0.97310,0.04767,0.04960,-0.03979,0.00008
18,ACC_ADDR1_GYEONGGI,0,100304,2863.00000,97441.00000,0.02854,0.97146,0.74987,0.73412,0.02122,0.00130
19,ACC_ADDR1_GYEONGGI,1,36245,955.00000,35290.00000,0.02635,0.97365,0.25013,0.26588,-0.06105,0.00130
20,ACC_ADDR1_GYEONGNAM,0,126790,3526.00000,123264.00000,0.02781,0.97219,0.92352,0.92868,-0.00557,0.00039
21,ACC_ADDR1_GYEONGNAM,1,9759,292.00000,9467.00000,0.02992,0.97008,0.07648,0.07132,0.06978,0.00039
22,ACC_ADDR1_INCHEON,0,129120,3615.00000,125505.00000,0.02800,0.97200,0.94683,0.94556,0.00134,0.00003
23,ACC_ADDR1_INCHEON,1,7429,203.00000,7226.00000,0.02733,0.97267,0.05317,0.05444,-0.02364,0.00003
24,ACC_ADDR1_JEJU,0,134061,3768.00000,130293.00000,0.02811,0.97189,0.98690,0.98163,0.00536,0.00181
25,ACC_ADDR1_JEJU,1,2488,50.00000,2438.00000,0.02010,0.97990,0.01310,0.01837,-0.33831,0.00181
26,ACC_ADDR1_JEONBUK,0,132452,3718.00000,128734.00000,0.02807,0.97193,0.97381,0.96989,0.00404,0.00056
27,ACC_ADDR1_JEONBUK,1,4097,100.00000,3997.00000,0.02441,0.97559,0.02619,0.03011,-0.13953,0.00056
28,ACC_ADDR1_JEONNAM,0,131857,3665.00000,128192.00000,0.02780,0.97220,0.95993,0.96580,-0.00610,0.00097
29,ACC_ADDR1_JEONNAM,1,4692,153.00000,4539.00000,0.03261,0.96739,0.04007,0.03420,0.15857,0.00097

In [18]:
clf.iv_df.head(60)


# """
# 1 DRUNK_YN_Y
# 2 ACDNT_TOTAL_TEXT_1_NN
# 3 ACDNT_INSPCT_TEXT_N
# 4 INDM_EXPC_CD_G0
# 5 CEMP_CATH
# 6 PREDICT_MODEL
# 7 ALT_GUBUN
# 8 DRUNK_YN
# 9 HYBRID_RED
# 10 ACDNT_TOTAL_TEXT
# 11 HYBRID_MODEL
# 12 INDM_EXPC_CD
# 13 ACDNT_CLAS_CD2
# 14 NO_LICENSE
# 15 DRIVER_LICNS_STAT
# 16 LICNS_CANCEL_YN
# 17 RUL_CNT
# 18 LBS_START
# 19 MOBILE_CARRIER
# 20 LBS_SUCCESS
# 21 LIC_1S
# 22 OAI_FALT_RATE_G
# 23 DISPATCH_TOWING
# 24 SIU_CEMP_CATH
# 25 DRIVER_INFO_AGREE
# 26 HYBRID_ORANGE
# 27 OCD_PRSN_CNT
# 28 LIC_2MOTO
# """

              Variable_Name  Information_Value
124              DRUNK_YN_Y            0.36430
123              DRUNK_YN_N            0.36430
36    ACDNT_TOTAL_TEXT_1_NN            0.30402
32      ACDNT_INSPCT_TEXT_N            0.30305
33      ACDNT_INSPCT_TEXT_Y            0.30305
141         INDM_EXPC_CD_G0            0.25425
29        ACDNT_CLAS_CD2_G2            0.20885
37    ACDNT_TOTAL_TEXT_1_NY            0.20723
92   DRIVER_LICNS_AREA_????            0.19211
232            NO_LICENSE_Y            0.18896
231            NO_LICENSE_N            0.18896
112    DRIVER_LICNS_STAT_G2            0.18795
176       LICNS_CANCEL_YN_Y            0.16998
175       LICNS_CANCEL_YN_N            0.16998
171            LBS_START_G1            0.15718
172            LBS_START_G2            0.15718
142         INDM_EXPC_CD_G1            0.15672
217       MOBILE_CARRIER_G2            0.15320
173          LBS_SUCCESS_G1            0.15320
174          LBS_SUCCESS_G2            0.15320
216       MOBILE_CARRIER_G1            0.15320
187                LIC_1S_N            0.14388
113    DRIVER_LICNS_STAT_G3            0.14380
191            LIC_2MOTO_G3            0.14380
183               LIC_1L_G3            0.14380
194               LIC_2M_G3            0.14380
186               LIC_1M_G3            0.14380
197               LIC_LEC_N            0.13016
195                LIC_2S_N            0.11509
234      OAI_FALT_RATE_G_G1            0.09615
239      OAI_FALT_RATE_G_G6            0.09192
88       DISPATCH_TOWING_G3            0.08852
90     DRIVER_INFO_AGREE_G1            0.07942
91     DRIVER_INFO_AGREE_G3            0.07942
250         OCD_PRSN_CNT_G4            0.07500
189            LIC_2MOTO_G1            0.07141
89       DISPATCH_TOWING_G4            0.07117
247         OCD_PRSN_CNT_G1            0.06966
128       FRAUD_DOUBT_CD_G1            0.06673
129       FRAUD_DOUBT_CD_G2            0.06673
30        ACDNT_CLAS_CD2_G3            0.06462
181               LIC_1L_G1            0.05139
39    ACDNT_TOTAL_TEXT_1_YY            0.04774
41       ACDNT_TOTAL_TEXT_Y            0.04774
40       ACDNT_TOTAL_TEXT_N            0.04774
227        NIGHT_ACDNT_YN_Y            0.04678
226        NIGHT_ACDNT_YN_N            0.04678
180        LICNS_TYPE_CD_G5            0.04388
35         ACDNT_RCV_TEXT_Y            0.03952
34         ACDNT_RCV_TEXT_N            0.03952
31        ACDNT_CLAS_CD2_G4            0.03919
111    DRIVER_LICNS_STAT_G1            0.03506
28        ACDNT_CLAS_CD2_G1            0.03349
185               LIC_1M_G2            0.01842
192               LIC_2M_G1            0.01632
235      OAI_FALT_RATE_G_G2            0.01548
178        LICNS_TYPE_CD_G2            0.01500
252             OWNER_YN_G1            0.01305
253             OWNER_YN_G2            0.01305
291   SPCL_RAG_CHG_AFGAP_G0            0.01270

In [19]:
iv_feats = clf.iv_df['Variable_Name'].head(60)
temp = []

for iv_feat in iv_feats:
    _asd = ''
    
    for i in range(  len(iv_feat.split('_')) -1  ):
        _asd = _asd + str(iv_feat.split('_')[i]) + str('_')
    
    _asd = _asd[:-1]
    temp.append(_asd)

In [20]:
iv_unique_feats = pd.Series( (v for v in temp) )
del temp
iv_unique_feats

0               DRUNK_YN
1               DRUNK_YN
2     ACDNT_TOTAL_TEXT_1
3      ACDNT_INSPCT_TEXT
4      ACDNT_INSPCT_TEXT
5           INDM_EXPC_CD
6         ACDNT_CLAS_CD2
7     ACDNT_TOTAL_TEXT_1
8      DRIVER_LICNS_AREA
9             NO_LICENSE
10            NO_LICENSE
11     DRIVER_LICNS_STAT
12       LICNS_CANCEL_YN
13       LICNS_CANCEL_YN
14             LBS_START
15             LBS_START
16          INDM_EXPC_CD
17        MOBILE_CARRIER
18           LBS_SUCCESS
19           LBS_SUCCESS
20        MOBILE_CARRIER
21                LIC_1S
22     DRIVER_LICNS_STAT
23             LIC_2MOTO
24                LIC_1L
25                LIC_2M
26                LIC_1M
27               LIC_LEC
28                LIC_2S
29       OAI_FALT_RATE_G
30       OAI_FALT_RATE_G
31       DISPATCH_TOWING
32     DRIVER_INFO_AGREE
33     DRIVER_INFO_AGREE
34          OCD_PRSN_CNT
35             LIC_2MOTO
36       DISPATCH_TOWING
37          OCD_PRSN_CNT
38        FRAUD_DOUBT_CD
39        FRAUD_DOUBT_CD
40        ACDNT_CLAS_CD2
41                LIC_1L
42    ACDNT_TOTAL_TEXT_1
43      ACDNT_TOTAL_TEXT
44      ACDNT_TOTAL_TEXT
45        NIGHT_ACDNT_YN
46        NIGHT_ACDNT_YN
47         LICNS_TYPE_CD
48        ACDNT_RCV_TEXT
49        ACDNT_RCV_TEXT
50        ACDNT_CLAS_CD2
51     DRIVER_LICNS_STAT
52        ACDNT_CLAS_CD2
53                LIC_1M
54                LIC_2M
55       OAI_FALT_RATE_G
56         LICNS_TYPE_CD
57              OWNER_YN
58              OWNER_YN
59    SPCL_RAG_CHG_AFGAP
dtype: object

In [21]:
iv_unique_feats = iv_unique_feats.unique()
iv_unique_feats

array(['DRUNK_YN', 'ACDNT_TOTAL_TEXT_1', 'ACDNT_INSPCT_TEXT',
       'INDM_EXPC_CD', 'ACDNT_CLAS_CD2', 'DRIVER_LICNS_AREA',
       'NO_LICENSE', 'DRIVER_LICNS_STAT', 'LICNS_CANCEL_YN', 'LBS_START',
       'MOBILE_CARRIER', 'LBS_SUCCESS', 'LIC_1S', 'LIC_2MOTO', 'LIC_1L',
       'LIC_2M', 'LIC_1M', 'LIC_LEC', 'LIC_2S', 'OAI_FALT_RATE_G',
       'DISPATCH_TOWING', 'DRIVER_INFO_AGREE', 'OCD_PRSN_CNT',
       'FRAUD_DOUBT_CD', 'ACDNT_TOTAL_TEXT', 'NIGHT_ACDNT_YN',
       'LICNS_TYPE_CD', 'ACDNT_RCV_TEXT', 'OWNER_YN',
       'SPCL_RAG_CHG_AFGAP'], dtype=object)

## IV 로 고른 변수에다, RF 중요도 높은 변수 20개 추가

In [22]:
RF_feats = [
'ACDNT_GAP',
'POLICE_RPRT_CD',
'FRAUD_DOUBT_CD',
'DRUNK_A',
'NO_LICENSE',
'DRUNK_YN',
'DRIVER_LICNS_STAT',
'CALL_IB_CNT_3',
'N_PROF_08',
'N_PROF_13',
'N_PROF_14',
'N_PROF_18',
'N_PROF_25',
'ACCO_A_AVG_DIST',
'ACCO_BI_A_MAX_DIST',
'ACCO_BI_OTH_MAX_DIST',
'HO_AP_DIST',
'ACDNT_TOTAL_TEXT_1',
'ICPS_ICPS_CNT',
'ICPS_PAY_GAP',
]

In [23]:
iv_unique_feats_ls = list(iv_unique_feats)

for RF_feat in RF_feats:
    if RF_feat in iv_unique_feats_ls:
        print(RF_feat, '중복되어 패스 합니다.')
    else:
        iv_unique_feats_ls.append(RF_feat)
        
iv_unique_feats_ls

FRAUD_DOUBT_CD 중복되어 패스 합니다.
NO_LICENSE 중복되어 패스 합니다.
DRUNK_YN 중복되어 패스 합니다.
DRIVER_LICNS_STAT 중복되어 패스 합니다.
ACDNT_TOTAL_TEXT_1 중복되어 패스 합니다.

['DRUNK_YN',
 'ACDNT_TOTAL_TEXT_1',
 'ACDNT_INSPCT_TEXT',
 'INDM_EXPC_CD',
 'ACDNT_CLAS_CD2',
 'DRIVER_LICNS_AREA',
 'NO_LICENSE',
 'DRIVER_LICNS_STAT',
 'LICNS_CANCEL_YN',
 'LBS_START',
 'MOBILE_CARRIER',
 'LBS_SUCCESS',
 'LIC_1S',
 'LIC_2MOTO',
 'LIC_1L',
 'LIC_2M',
 'LIC_1M',
 'LIC_LEC',
 'LIC_2S',
 'OAI_FALT_RATE_G',
 'DISPATCH_TOWING',
 'DRIVER_INFO_AGREE',
 'OCD_PRSN_CNT',
 'FRAUD_DOUBT_CD',
 'ACDNT_TOTAL_TEXT',
 'NIGHT_ACDNT_YN',
 'LICNS_TYPE_CD',
 'ACDNT_RCV_TEXT',
 'OWNER_YN',
 'SPCL_RAG_CHG_AFGAP',
 'ACDNT_GAP',
 'POLICE_RPRT_CD',
 'DRUNK_A',
 'CALL_IB_CNT_3',
 'N_PROF_08',
 'N_PROF_13',
 'N_PROF_14',
 'N_PROF_18',
 'N_PROF_25',
 'ACCO_A_AVG_DIST',
 'ACCO_BI_A_MAX_DIST',
 'ACCO_BI_OTH_MAX_DIST',
 'HO_AP_DIST',
 'ICPS_ICPS_CNT',
 'ICPS_PAY_GAP']

In [24]:
cat_cols = iv_unique_feats_ls

data[cat_cols] # cat_cols : 45

,DRUNK_YN,ACDNT_TOTAL_TEXT_1,ACDNT_INSPCT_TEXT,INDM_EXPC_CD,ACDNT_CLAS_CD2,DRIVER_LICNS_AREA,NO_LICENSE,DRIVER_LICNS_STAT,LICNS_CANCEL_YN,LBS_START,...,N_PROF_13,N_PROF_14,N_PROF_18,N_PROF_25,ACCO_A_AVG_DIST,ACCO_BI_A_MAX_DIST,ACCO_BI_OTH_MAX_DIST,HO_AP_DIST,ICPS_ICPS_CNT,ICPS_PAY_GAP
0,N,NN,N,G1,G1,서울,N,G1,N,G2,...,537.00000,13.50000,4932.00000,0.50000,681.13300,-1.00000,681.13300,814.58698,1,0
1,N,NN,N,G0,G2,????,N,G3,N,G1,...,758.00000,153.62500,1028.00000,0.18250,-1.00000,-1.00000,-1.00000,8802.18555,0,0
2,Y,NY,Y,G1,G2,경기북,N,G1,N,G2,...,2318.00000,356.50000,4816.00000,0.39478,7387.91211,7387.91211,-1.00000,182802.25000,3,0
3,N,NN,N,G1,G1,전북,N,G1,N,G2,...,2056.00000,181.00000,5200.00000,0.61621,2849.82910,2370.19995,4431.64697,2461.90698,0,0
4,N,NN,N,G1,G2,????,N,G3,N,G1,...,4808.00000,62.00000,3986.00000,0.64307,-1.00000,-1.00000,-1.00000,17021.58398,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,N,NN,N,G1,G2,서울,N,G1,N,G2,...,1413.00000,207.62500,1628.00000,0.27710,-1.00000,-1.00000,-1.00000,6386.38916,0,0
136545,N,NN,N,G1,G1,경북,N,G1,N,G2,...,0.00000,0.00000,0.00000,0.00000,735.40802,735.40802,735.40802,8030.33105,0,0
136546,N,YY,Y,G1,G1,강원,N,G1,N,G1,...,2912.00000,561.50000,4132.00000,0.21045,7020.91309,7020.91309,7020.91309,7020.91309,0,0
136547,N,NN,N,G1,G2,서울,N,G1,N,G2,...,0.00000,0.00000,1469.00000,0.38989,-1.00000,-1.00000,-1.00000,512.18597,0,0
136548,N,NY,Y,G1,G2,경기남,N,G1,N,G1,...,0.00000,0.00000,3160.00000,0.29419,-1.00000,-1.00000,-1.00000,2569.67896,0,0

## Original Feat : 25

In [25]:
ori_feats = [
    'NIGHT_ACDNT_YN',
    'ACDNT_CLAS_CD2',
    'CAR_TYPE_NM',
    'INSR_TYPE_NM',
    'NON_FALT_CLAS_CD',
    'INDM_EXPC_CD',
    'OAI_FALT_RATE_G',
    'CURE_YN',
    'LBS_START',
    'FRAUD_DOUBT_CD',
    'DISPATCH_TOWING',
    'DRUNK_A',
    'NO_LICENSE',
    'DRUNK_YN',
    'DRIVER_RLATN_CD',
    'LICNS_TYPE_CD',
    'DRIVER_VOCTN_TST_GAP_G',
    'LIC_2MOTO',
    'DRIVER_LICNS_STAT',
    'LICNS_CANCEL_YN',
    'DRIVER_INFO_AGREE',
    'ACDNT_TOTAL_TEXT_1',
    'INS_NODE_NETWORK',
    'PHO_NODE_NETWORK',
    'DRIVER_AGE_GR'
]

In [26]:
ori_not_included = []

for ori_feat in ori_feats:
    if ori_feat in iv_unique_feats_ls:
        pass
    else:
        print(ori_feat, 'is not included')
        ori_not_included.append(ori_feat)

CAR_TYPE_NM is not included
INSR_TYPE_NM is not included
NON_FALT_CLAS_CD is not included
CURE_YN is not included
DRIVER_RLATN_CD is not included
DRIVER_VOCTN_TST_GAP_G is not included
INS_NODE_NETWORK is not included
PHO_NODE_NETWORK is not included
DRIVER_AGE_GR is not included

In [27]:
ori_feat_not_included = ori_not_included.copy()

for ori_n_inc in ori_not_included:
    if ori_n_inc in list(data.columns):
        pass
    else:
        print(ori_n_inc, 'is not included at (all) data columns')
        ori_feat_not_included.remove(ori_n_inc)

DRIVER_RLATN_CD is not included at (all) data columns
INS_NODE_NETWORK is not included at (all) data columns
PHO_NODE_NETWORK is not included at (all) data columns
DRIVER_AGE_GR is not included at (all) data columns

In [28]:
cat_cols.extend(ori_feat_not_included)
cat_cols

['DRUNK_YN',
 'ACDNT_TOTAL_TEXT_1',
 'ACDNT_INSPCT_TEXT',
 'INDM_EXPC_CD',
 'ACDNT_CLAS_CD2',
 'DRIVER_LICNS_AREA',
 'NO_LICENSE',
 'DRIVER_LICNS_STAT',
 'LICNS_CANCEL_YN',
 'LBS_START',
 'MOBILE_CARRIER',
 'LBS_SUCCESS',
 'LIC_1S',
 'LIC_2MOTO',
 'LIC_1L',
 'LIC_2M',
 'LIC_1M',
 'LIC_LEC',
 'LIC_2S',
 'OAI_FALT_RATE_G',
 'DISPATCH_TOWING',
 'DRIVER_INFO_AGREE',
 'OCD_PRSN_CNT',
 'FRAUD_DOUBT_CD',
 'ACDNT_TOTAL_TEXT',
 'NIGHT_ACDNT_YN',
 'LICNS_TYPE_CD',
 'ACDNT_RCV_TEXT',
 'OWNER_YN',
 'SPCL_RAG_CHG_AFGAP',
 'ACDNT_GAP',
 'POLICE_RPRT_CD',
 'DRUNK_A',
 'CALL_IB_CNT_3',
 'N_PROF_08',
 'N_PROF_13',
 'N_PROF_14',
 'N_PROF_18',
 'N_PROF_25',
 'ACCO_A_AVG_DIST',
 'ACCO_BI_A_MAX_DIST',
 'ACCO_BI_OTH_MAX_DIST',
 'HO_AP_DIST',
 'ICPS_ICPS_CNT',
 'ICPS_PAY_GAP',
 'CAR_TYPE_NM',
 'INSR_TYPE_NM',
 'NON_FALT_CLAS_CD',
 'CURE_YN',
 'DRIVER_VOCTN_TST_GAP_G']

In [29]:
num_cols = [
    'ACDNT_GAP',	
    'POLICE_RPRT_CD',	
    'CALL_IB_CNT_3',	
    'N_PROF_08',	
    'N_PROF_13',	
    'N_PROF_14',	
    'N_PROF_18',	
    'N_PROF_25',	
    'ACCO_A_AVG_DIST',	
    'ACCO_BI_A_MAX_DIST',	
    'ACCO_BI_OTH_MAX_DIST',	
    'HO_AP_DIST',	
    'ICPS_ICPS_CNT',	
    'ICPS_PAY_GAP'
]

In [30]:
all_cols = cat_cols.copy() # 수치형, 범주형 모두

# num_cols # 수치형
# cat_cols # 범주형

In [31]:
for num_col in num_cols:
    try:
        cat_cols.remove(num_col)
    except:
        print(num_col, 'is not in cat_cols !')

In [32]:
pd.set_option('display.max_rows', 1000)

print(data[num_cols].dtypes)
print('='*20)
print(data[cat_cols].dtypes)
print('='*20)
print(data[all_cols].dtypes)

ACDNT_GAP               float32
POLICE_RPRT_CD             int8
CALL_IB_CNT_3              int8
N_PROF_08               float32
N_PROF_13               float16
N_PROF_14               float16
N_PROF_18               float16
N_PROF_25               float16
ACCO_A_AVG_DIST         float32
ACCO_BI_A_MAX_DIST      float32
ACCO_BI_OTH_MAX_DIST    float32
HO_AP_DIST              float32
ICPS_ICPS_CNT              int8
ICPS_PAY_GAP               int8
dtype: object
====================
DRUNK_YN                  category
ACDNT_TOTAL_TEXT_1        category
ACDNT_INSPCT_TEXT         category
INDM_EXPC_CD              category
ACDNT_CLAS_CD2            category
DRIVER_LICNS_AREA         category
NO_LICENSE                category
DRIVER_LICNS_STAT         category
LICNS_CANCEL_YN           category
LBS_START                 category
MOBILE_CARRIER            category
LBS_SUCCESS               category
LIC_1S                    category
LIC_2MOTO                 category
LIC_1L                    category
LIC_2M                    category
LIC_1M                    category
LIC_LEC                   category
LIC_2S                    category
OAI_FALT_RATE_G           category
DISPATCH_TOWING           category
DRIVER_INFO_AGREE         category
OCD_PRSN_CNT              category
FRAUD_DOUBT_CD            category
ACDNT_TOTAL_TEXT          category
NIGHT_ACDNT_YN            category
LICNS_TYPE_CD             category
ACDNT_RCV_TEXT            category
OWNER_YN                  category
SPCL_RAG_CHG_AFGAP        category
DRUNK_A                   category
CAR_TYPE_NM               category
INSR_TYPE_NM              category
NON_FALT_CLAS_CD          category
CURE_YN                   category
DRIVER_VOCTN_TST_GAP_G    category
dtype: object
====================
DRUNK_YN                  category
ACDNT_TOTAL_TEXT_1        category
ACDNT_INSPCT_TEXT         category
INDM_EXPC_CD              category
ACDNT_CLAS_CD2            category
DRIVER_LICNS_AREA         category
NO_LICENSE                category
DRIVER_LICNS_STAT         category
LICNS_CANCEL_YN           category
LBS_START                 category
MOBILE_CARRIER            category
LBS_SUCCESS               category
LIC_1S                    category
LIC_2MOTO                 category
LIC_1L                    category
LIC_2M                    category
LIC_1M                    category
LIC_LEC                   category
LIC_2S                    category
OAI_FALT_RATE_G           category
DISPATCH_TOWING           category
DRIVER_INFO_AGREE         category
OCD_PRSN_CNT              category
FRAUD_DOUBT_CD            category
ACDNT_TOTAL_TEXT          category
NIGHT_ACDNT_YN            category
LICNS_TYPE_CD             category
ACDNT_RCV_TEXT            category
OWNER_YN                  category
SPCL_RAG_CHG_AFGAP        category
ACDNT_GAP                  float32
POLICE_RPRT_CD                int8
DRUNK_A                   category
CALL_IB_CNT_3                 int8
N_PROF_08                  float32
N_PROF_13                  float16
N_PROF_14                  float16
N_PROF_18                  float16
N_PROF_25                  float16
ACCO_A_AVG_DIST            float32
ACCO_BI_A_MAX_DIST         float32
ACCO_BI_OTH_MAX_DIST       float32
HO_AP_DIST                 float32
ICPS_ICPS_CNT                 int8
ICPS_PAY_GAP                  int8
CAR_TYPE_NM               category
INSR_TYPE_NM              category
NON_FALT_CLAS_CD          category
CURE_YN                   category
DRIVER_VOCTN_TST_GAP_G    category
dtype: object

# LIC_1S, LIC_2S, LIC_LEC -> Nan 결측치 채우기

In [33]:
dummy_c_data = pd.get_dummies(data[cat_cols])
dummy_c_data

,DRUNK_YN_N,DRUNK_YN_Y,ACDNT_TOTAL_TEXT_1_NN,ACDNT_TOTAL_TEXT_1_NY,ACDNT_TOTAL_TEXT_1_YN,ACDNT_TOTAL_TEXT_1_YY,ACDNT_INSPCT_TEXT_N,ACDNT_INSPCT_TEXT_Y,INDM_EXPC_CD_G0,INDM_EXPC_CD_G1,...,CURE_YN_G1,CURE_YN_G2,CURE_YN_G3,DRIVER_VOCTN_TST_GAP_G_G0,DRIVER_VOCTN_TST_GAP_G_G1,DRIVER_VOCTN_TST_GAP_G_G2,DRIVER_VOCTN_TST_GAP_G_G3,DRIVER_VOCTN_TST_GAP_G_G4,DRIVER_VOCTN_TST_GAP_G_G5,DRIVER_VOCTN_TST_GAP_G_G6
0,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
1,1,0,1,0,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,0
2,0,1,0,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,0,0
3,1,0,1,0,0,0,1,0,0,1,...,1,0,0,0,0,0,1,0,0,0
4,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
136545,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
136546,1,0,0,0,0,1,0,1,0,1,...,0,1,0,1,0,0,0,0,0,0
136547,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0
136548,1,0,0,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,0,0

In [34]:
%%time 

from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=13)

knn_dum_c_data = imputer.fit_transform(dummy_c_data)
knn_dum_c_data = pd.DataFrame(knn_dum_c_data, columns = dummy_c_data.columns)
knn_dum_c_data

CPU times: user 209 ms, sys: 124 ms, total: 333 ms
Wall time: 332 ms

,DRUNK_YN_N,DRUNK_YN_Y,ACDNT_TOTAL_TEXT_1_NN,ACDNT_TOTAL_TEXT_1_NY,ACDNT_TOTAL_TEXT_1_YN,ACDNT_TOTAL_TEXT_1_YY,ACDNT_INSPCT_TEXT_N,ACDNT_INSPCT_TEXT_Y,INDM_EXPC_CD_G0,INDM_EXPC_CD_G1,...,CURE_YN_G1,CURE_YN_G2,CURE_YN_G3,DRIVER_VOCTN_TST_GAP_G_G0,DRIVER_VOCTN_TST_GAP_G_G1,DRIVER_VOCTN_TST_GAP_G_G2,DRIVER_VOCTN_TST_GAP_G_G3,DRIVER_VOCTN_TST_GAP_G_G4,DRIVER_VOCTN_TST_GAP_G_G5,DRIVER_VOCTN_TST_GAP_G_G6
0,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,0.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,0.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000
4,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136544,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
136545,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
136546,1.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,0.00000,1.00000,...,0.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
136547,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
136548,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,...,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [35]:
knn_dum_c_data[['LIC_1S_Y','LIC_1S_N']].describe()

          LIC_1S_Y     LIC_1S_N
count 136549.00000 136549.00000
mean       0.00004      0.84327
std        0.00605      0.36355
min        0.00000      0.00000
25%        0.00000      1.00000
50%        0.00000      1.00000
75%        0.00000      1.00000
max        1.00000      1.00000

In [36]:
knn_dum_c_data[['LIC_2S_Y','LIC_2S_N']].describe()

          LIC_2S_Y     LIC_2S_N
count 136549.00000 136549.00000
mean       0.01435      0.82895
std        0.11894      0.37656
min        0.00000      0.00000
25%        0.00000      1.00000
50%        0.00000      1.00000
75%        0.00000      1.00000
max        1.00000      1.00000

In [37]:
knn_dum_c_data[['LIC_LEC_Y','LIC_LEC_N']].describe()

         LIC_LEC_Y    LIC_LEC_N
count 136549.00000 136549.00000
mean       0.00400      0.83930
std        0.06311      0.36725
min        0.00000      0.00000
25%        0.00000      1.00000
50%        0.00000      1.00000
75%        0.00000      1.00000
max        1.00000      1.00000

## KNN impute - 10sec

In [38]:
%%time

for i in (list(data['LIC_1S'][data['LIC_1S'].isnull()].index)):
    if knn_dum_c_data['LIC_1S_Y'].iloc[i] == 1:
        data['LIC_1S'].iloc[i] = 'Y'
        
    if knn_dum_c_data['LIC_1S_N'].iloc[i] == 1:
        data['LIC_1S'].iloc[i] = 'N'
        
    if (knn_dum_c_data['LIC_1S_N'].iloc[i] == 0) & (knn_dum_c_data['LIC_1S_Y'].iloc[i] == 0):
        data['LIC_1S'].iloc[i] = 'N'

CPU times: user 19.3 s, sys: 357 µs, total: 19.3 s
Wall time: 20.7 s

In [39]:
%%time

for i in (list(data['LIC_2S'][data['LIC_2S'].isnull()].index)):
    if knn_dum_c_data['LIC_2S_Y'].iloc[i] == 1:
        data['LIC_2S'].iloc[i] = 'Y'
        
    if knn_dum_c_data['LIC_2S_N'].iloc[i] == 1:
        data['LIC_2S'].iloc[i] = 'N'
        
    if (knn_dum_c_data['LIC_2S_N'].iloc[i] == 0) & (knn_dum_c_data['LIC_2S_Y'].iloc[i] == 0):
        data['LIC_2S'].iloc[i] = 'N'

CPU times: user 22.4 s, sys: 65.8 ms, total: 22.5 s
Wall time: 27.7 s

In [40]:
%%time

for i in (list(data['LIC_LEC'][data['LIC_LEC'].isnull()].index)):
    if knn_dum_c_data['LIC_LEC_Y'].iloc[i] == 1:
        data['LIC_LEC'].iloc[i] = 'Y'
        
    if knn_dum_c_data['LIC_LEC_N'].iloc[i] == 1:
        data['LIC_LEC'].iloc[i] = 'N'
        
    if (knn_dum_c_data['LIC_LEC_N'].iloc[i] == 0) & (knn_dum_c_data['LIC_LEC_Y'].iloc[i] == 0):
        data['LIC_LEC'].iloc[i] = 'N'

CPU times: user 17.4 s, sys: 38.7 ms, total: 17.5 s
Wall time: 18.4 s

In [41]:
data['LIC_1S'].describe()

count     136549
unique         2
top            N
freq      136544
Name: LIC_1S, dtype: object

In [42]:
data['LIC_2S'].describe()

count     136549
unique         2
top            N
freq      134589
Name: LIC_2S, dtype: object

In [43]:
data['LIC_LEC'].describe()

count     136549
unique         2
top            N
freq      136003
Name: LIC_LEC, dtype: object

In [44]:
data[num_cols].describe()

,ACDNT_GAP,POLICE_RPRT_CD,CALL_IB_CNT_3,N_PROF_08,N_PROF_13,N_PROF_14,N_PROF_18,N_PROF_25,ACCO_A_AVG_DIST,ACCO_BI_A_MAX_DIST,ACCO_BI_OTH_MAX_DIST,HO_AP_DIST,ICPS_ICPS_CNT,ICPS_PAY_GAP
count,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000,136549.00000
mean,3742.49365,1.06780,0.42072,27481.69922,nan,nan,nan,0.42456,6252.54150,2865.85571,7055.38916,24281.54102,0.36931,0.28719
std,36948.20703,0.26252,1.37619,10230.98438,nan,nan,nan,0.19690,21314.41211,17606.76953,24514.46875,56701.11328,1.11225,1.36506
min,-2254.10010,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-1.00000,-1.00000,-1.00000,-1.00000,0.00000,0.00000
25%,11.98300,1.00000,0.00000,22211.42773,421.00000,20.00000,2700.00000,0.27710,-1.00000,-1.00000,-1.00000,1456.59705,0.00000,0.00000
50%,13.23300,1.00000,0.00000,27638.88867,1039.00000,113.37500,4004.00000,0.43481,-1.00000,-1.00000,-1.00000,4633.85010,0.00000,0.00000
75%,257.23300,1.00000,0.00000,32131.36914,1505.00000,227.37500,4948.00000,0.58252,4751.92578,-1.00000,5076.74902,16093.37012,0.00000,0.00000
max,2155552.75000,3.00000,37.00000,92008.76562,8744.00000,2556.00000,11008.00000,1.00000,486728.87500,501514.09375,501514.09375,605442.87500,16.00000,99.00000

In [45]:
data=data[all_cols]

In [46]:
data.head()

,DRUNK_YN,ACDNT_TOTAL_TEXT_1,ACDNT_INSPCT_TEXT,INDM_EXPC_CD,ACDNT_CLAS_CD2,DRIVER_LICNS_AREA,NO_LICENSE,DRIVER_LICNS_STAT,LICNS_CANCEL_YN,LBS_START,...,ACCO_BI_A_MAX_DIST,ACCO_BI_OTH_MAX_DIST,HO_AP_DIST,ICPS_ICPS_CNT,ICPS_PAY_GAP,CAR_TYPE_NM,INSR_TYPE_NM,NON_FALT_CLAS_CD,CURE_YN,DRIVER_VOCTN_TST_GAP_G
0,N,NN,N,G1,G1,서울,N,G1,N,G2,...,-1.00000,681.13300,814.58698,1,0,ME,PAP,G1,G1,G0
1,N,NN,N,G0,G2,????,N,G3,N,G1,...,-1.00000,-1.00000,8802.18555,0,0,RV,PAP,G1,G1,G0
2,Y,NY,Y,G1,G2,경기북,N,G1,N,G2,...,7387.91211,-1.00000,182802.25000,3,0,ME,PAP,G1,G1,G0
3,N,NN,N,G1,G1,전북,N,G1,N,G2,...,2370.19995,4431.64697,2461.90698,0,0,PO,BAP,G1,G1,G3
4,N,NN,N,G1,G2,????,N,G3,N,G1,...,-1.00000,-1.00000,17021.58398,0,0,ME,PAP,G1,G1,G0

In [59]:
original=pd.read_csv('FDS_MART(20210804).csv', encoding='cp949')

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning:

Columns (623) have mixed types.Specify dtype option on import or set low_memory=False.

In [60]:
data['FDS_CATH']=orginal['FDS_CATH']

In [62]:
data['ACDNT_NO']=original['ACDNT_NO']

# **최초 추산 쿼리 추가**

In [50]:
data.head()

,DRUNK_YN,ACDNT_TOTAL_TEXT_1,ACDNT_INSPCT_TEXT,INDM_EXPC_CD,ACDNT_CLAS_CD2,DRIVER_LICNS_AREA,NO_LICENSE,DRIVER_LICNS_STAT,LICNS_CANCEL_YN,LBS_START,...,ACCO_BI_OTH_MAX_DIST,HO_AP_DIST,ICPS_ICPS_CNT,ICPS_PAY_GAP,CAR_TYPE_NM,INSR_TYPE_NM,NON_FALT_CLAS_CD,CURE_YN,DRIVER_VOCTN_TST_GAP_G,FDS_CATH
0,N,NN,N,G1,G1,서울,N,G1,N,G2,...,681.13300,814.58698,1,0,ME,PAP,G1,G1,G0,N
1,N,NN,N,G0,G2,????,N,G3,N,G1,...,-1.00000,8802.18555,0,0,RV,PAP,G1,G1,G0,N
2,Y,NY,Y,G1,G2,경기북,N,G1,N,G2,...,-1.00000,182802.25000,3,0,ME,PAP,G1,G1,G0,N
3,N,NN,N,G1,G1,전북,N,G1,N,G2,...,4431.64697,2461.90698,0,0,PO,BAP,G1,G1,G3,N
4,N,NN,N,G1,G2,????,N,G3,N,G1,...,-1.00000,17021.58398,0,0,ME,PAP,G1,G1,G0,N

In [55]:
first=pd.read_csv('../FRST_EXPC_AMT_SUM.csv')

In [76]:
first

         ACDNT_NO  SUM(FRST_EXPC_AMT_SUM)
0      2100004124                 1000000
1      2100004094                 2000000
2      2100004074                 1000000
3      2100004070                  600000
4      2100004058                 2000000
...           ...                     ...
21942   503035935                20000000
21943   502020938                 3500000
21944   502013239                70000000
21945   410104198                30000000
21946   309059481                22000000

[21947 rows x 2 columns]

In [68]:
first_data=data.merge(first, on='ACDNT_NO', how='left')

In [75]:
first_data[first_data['SUM(FRST_EXPC_AMT_SUM)'].notnull()]

,DRUNK_YN,ACDNT_TOTAL_TEXT_1,ACDNT_INSPCT_TEXT,INDM_EXPC_CD,ACDNT_CLAS_CD2,DRIVER_LICNS_AREA,NO_LICENSE,DRIVER_LICNS_STAT,LICNS_CANCEL_YN,LBS_START,...,ICPS_ICPS_CNT,ICPS_PAY_GAP,CAR_TYPE_NM,INSR_TYPE_NM,NON_FALT_CLAS_CD,CURE_YN,DRIVER_VOCTN_TST_GAP_G,FDS_CATH,ACDNT_NO,SUM(FRST_EXPC_AMT_SUM)
1086,Y,YY,Y,G1,G1,강원,N,G1,N,G2,...,1,3,PO,BAP,G1,G1,G0,N,1800005721,8000000.00000
1565,N,YY,Y,G1,G1,서울,N,G1,N,G2,...,0,0,LA,PAP,G1,G1,G3,N,1800008221,76200000.00000
1751,Y,YY,Y,G1,G1,부산,N,G1,N,G1,...,0,0,ME,PAP,G1,G1,G2,N,1800009179,76811000.00000
4098,N,NY,Y,G2,G2,경남,N,G1,N,G2,...,0,0,LA,PAP,G4,G3,G0,N,1800021354,10919000.00000
5094,N,YN,N,G2,G1,경북,N,G1,N,G2,...,7,1,ME,PAP,G4,G1,G3,N,1800026586,2870000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131758,N,NN,N,G1,G2,경북,N,G1,N,G2,...,0,0,ME,PAP,G1,G1,G0,N,2100004005,1000000.00000
131761,N,NY,Y,G1,G4,충남,N,G1,N,G2,...,0,0,SB,PAP,G1,G1,G0,N,2100004014,200000.00000
131764,N,NN,N,G1,G2,강원,N,G1,N,G1,...,0,0,ME,PAP,G1,G2,G0,N,2100004023,500000.00000
131776,N,NN,N,G1,G1,서울,N,G1,N,G2,...,0,0,ME,PAP,G1,G1,G0,N,2100004074,1000000.00000
131781,N,NN,N,G1,G2,경기남,N,G1,N,G2,...,0,0,SB,PAP,G1,G1,G0,N,2100004094,2000000.00000

In [69]:
train_pre=data[:-17661]
test_pre=data[-17661:]

In [72]:
test_pre.reset_index(drop=True, inplace=True)

In [67]:
test=pd.read_csv('../test.csv')

In [74]:
train_pre.to_csv('../train_pre.csv', index=False)
test_pre.to_csv('../test_pre.csv', index=False)